.top-contain, .botton-contain{
    width: 1000px;
    height: 390px;
    margin: 0 auto;
    background-color: #fff;
    margin-bottom: 15px;
    overflow: hidden;
}
.botton-contain{
    height: 345px;
    border: 1px solid #f1be99;
}
/*课程简介*/
.course{
    width: 40%;
    float: left;
    height: 100%;
    padding: 10px 20px 10px 10px;
}
.title{
    height: 40px;
    width: 100%;
    line-height: 40px;
    border-bottom: 2px solid #094e85;
    position: relative;
    margin-bottom: 15px;
}
.title h4{
    line-height: 40px;
    color: #094e85;
    position: relative;
}
 .title .more{
    position: absolute;
    right: 0;
    top: 0px;
    font-size: 12px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
 .title .icon_title{
    width: 50px;
    height: 7px;
    position: absolute;
    top: 32px;
    left: 7px;
    background-image: url(../images/icon.png);
}
.contain_box{
    height: 300px;
    overflow: hidden;
}
.course-box{
    overflow: hidden;
    height: 315px;
}
.contain_box p{
    text-indent: 2em;
    color: #545454;
    line-height: 1.5em;
    font-size: 14px;
    height: 315px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 15;
}
/*通知公告*/
.notice{
    width: 60%;
    float: right;
    height: 100%;
    padding:10px 10px 10px 20px;
}
.contain_box ul li{
    list-style: none;
    border-bottom: 1px dashed #f1be99;
}
.contain_box ul .item{
    line-height:40px;
    position: relative;
}
.contain_box ul li .info {
    display: none;
}
.contain_box ul li .info img{

    width: 150px;
    height: 90px;
    float: left;
}
.contain_box ul li .text_box{
    padding-left: 10px;
    overflow: hidden;
    text-decoration: none;
    font-size: 12px;
    line-height: 24px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    margin-bottom: 5px;
    text-indent: 2em;
    color: #545454;
}
.contain_box ul li .text_title, .download-text_title {
    font-size: 14px;
    line-height: 40px;
    padding-right: 40%;
    color: #545454;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    display: block;
}
.contain_box ul li .time,  .download-time{
    position: absolute;
    right: 5px;
    top: 0px;
    color: #9e9e9e;
    line-height: 40px;
    font-size: 12px;
}
/*列表:hover事件*/
.contain_box ul li.open .info {
    display: block;
    margin-top: 0px;
}
/*主讲老师资料下载*/
.teacher, .download{
    width: 50%;
    float: left;
    height: 100%;
    padding: 10px 20px 10px 10px;
}
.contain_box ul li:hover  .download-text_title{
    color:#094e85;
}
/*图片链接*/
.img-link{
    border: 1px solid #f1be99;
    padding:20px 0;
    background-color: #fff;
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 20px;
    overflow: hidden;
}
.link-box{
    position: relative;
    height: 150px;
}
.link-box ul{
    height: 170px;
    position: relative;
    overflow: hidden;
}
.link-box ul li{
    list-style: none;
    float: left;
    width: 249.5px;
    height: 170px;
    padding:0 10px;
    box-sizing: border-box;
}
.link-box ul li a{
    display: block;
    position: relative;
    overflow: hidden;
}
.link-box ul li a img{
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}
.link-box ul li a p{
    display: block;
    text-align: center;
    color: #424242;
    margin-top: 5px;
}
